@import "./mixins.scss";

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  margin-bottom: 1em;
  line-height: 1.4;
}

section {
  @include LargeMarginBottom;
  @include LargeMarginTop;
}

main {
  p {
    line-height: 2;
  }
}

.Heading {
  &-blue:after {
    content: "";
    display: block;
    margin-top: 1rem;
    width: 2em;
    border-top: $col-blue 3px solid;
  }
}

.blue {
  color: $col-blue;
}

a {
  color: $col-text;
}

p {
  line-height: 1.8;
}

.text-link {
  padding: 4px 0;
  text-decoration: none;
  background-image: linear-gradient($col-blue, $col-blue);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 1px;
  transition: background-size 0.3s;
  &:hover,
  &:focus {
    background-size: 100% 1px;
  }
}

.back-link {
  text-decoration: none;
  color: $col-blue;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  transition: all 200ms ease-in-out;
  > svg {
    margin-right: 0.5em;
  }
  &:hover {
    transform: translateX(-0.3em);
  }
}

.forward-link {
  text-decoration: none;
  color: $col-blue;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
  > svg {
    margin-left: 0.5em;
  }
  &:hover {
    transform: translateX(1em);
  }
}

.self-center {
  align-self: center;
}

.small {
  font-size: 0.6em;
}

.Container--text {
  max-width: 38em;
  // margin: 0 auto;
  @include LargeMarginTop;
}

// overlay
.wf-loading {
  opacity: 0;
}
.wf-active,
.wf-inactive {
  opacity: 1;
}

// availability
.available {
  color: rgba($col-text-light, 0.8);
  &:before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.5em;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba($col-text-light, 0.4);
    // border: 8px solid rgba($col-green, .2);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
  }
  &-active {
    // color: darken(desaturate($col-blue, 45%), 10%);
    color: $col-blue;
    &:before {
      content: "";
      width: 0.7em;
      height: 0.7em;
      margin-right: 0.5em;
      border-radius: 50%;
      display: inline-block;
      background-color: $col-blue;
      // border: 8px solid rgba($col-green, .2);
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    }
  }
}

.mb-lg {
  @include LargeMarginBottom;
}

.mb-md {
  @include MeduimMarginBottom;
}
