@import './mixins.scss';

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  margin-bottom: 1em;
  line-height: 1.4;
}

section {
  @include LargeMarginBottom;
  @include LargeMarginTop;
}

main {
  p {
    line-height: 2;
  }
}

.Heading{
  &-blue:after {
    content: "";
    display: block;
    margin-top: 1rem;
    width: 2em;
    border-top: $col-blue 3px solid;
  }
}

.blue {
  color: $col-blue;
}

a {
  color: $col-text;
}

.text-link {
  padding: 4px 0;
  text-decoration: none;
  background-image: linear-gradient($col-blue, $col-blue);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 1px;
  transition: background-size .3s;
  &:hover, &:focus {
    background-size: 100% 1px;
  }
}

.back-link {
  text-decoration: none;
  color: $col-blue;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  > svg {
    margin-right: 0.5em;
  }
}

.self-center {
  align-self: center;
}

.small {
  font-size: 0.6em;
}

.Main__Container {
  max-width: 38em;
  // margin: 0 auto;
  @include LargeMarginTop;
}

.wf-loading {
  opacity: 0;
}
.wf-active, .wf-inactive {
  opacity: 1;
}
