@import './mixins.scss';

.Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 2em;
  line-height: 2;
  @include screen-size-s {
    grid-template-columns: 1fr;
  }
  &__img {
    @include screen-size-s {
      display: none;
    }
    &__portrait {
      width: 135%;
    }
  }
  &__social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 1.2em;
    li {
      margin: 0 0.7em 0 0;
      a {
        color: $col-text-light;
        opacity: 0.6;
        transition: 200ms opacity ease-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.Works{
  line-height: 2;
  &__separator {
    margin-top: 1em;
    background: $col-border;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8em;
    @include screen-size-m {
      grid-template-columns: 1fr 1fr;
      grid-gap: 6em;
    }
    @include screen-size-s {
      grid-template-columns: 1fr;
      grid-gap: 2em;
    }
    &Item {
      &:nth-child(odd) {
        margin-top: -40%;
        @include screen-size-s {
          margin-top: 0;
        }
      }
      &Text {
        max-width: 20em;
      }
      a {
        text-decoration: none;
      }
    }
  }
  &__card {
    height: 20em;
    background-size: cover;
    filter: grayscale(50%);
    display: flex;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1em;
    transition: all 300ms ease-out;
    &Text {
      margin-top: auto;
      transform: translateY(0);
      transition: all 300ms ease-out;
      > * {
        margin: 0;
      }
    }
    &:hover {
      filter: grayscale(20%);
      .Works__cardText {
        transform: translateX(5px);
      }
    }
  }
}

.More {
  @include HugeMarginTop;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include screen-size-m {
      grid-template-columns: 1fr;
      grid-gap: 2em;
    }
    &Item {
      padding-right: 2em;
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

