@import './vars.scss';

@mixin LargeMarginTop {
  @media only screen and (min-width: $screen-width-m){
    margin-top: 8rem;
  }
  @media only screen and (min-width: $screen-width-s){
    margin-top: 6rem;
  }
  @media only screen and (max-width: $screen-width-s){
    margin-top: 4rem;
  }
}

@mixin HugeMarginTop {
  @media only screen and (min-width: $screen-width-m){
    margin-top: 12rem;
  }
  @media only screen and (min-width: $screen-width-s){
    margin-top: 8rem;
  }
  @media only screen and (max-width: $screen-width-s){
    margin-top: 6rem;
  }
}


@mixin LargeMarginBottom {
  @media only screen and (min-width: $screen-width-m){
    margin-bottom: 8rem;
  }
  @media only screen and (min-width: $screen-width-s){
    margin-bottom: 6rem;
  }
  @media only screen and (max-width: $screen-width-s){
    margin-bottom: 4rem;
  }
}

//screen-sizes
@mixin screen-size-xs {
  @media screen and (max-width: $screen-width-xs) {
    @content;
  }
}
@mixin screen-size-s {
  @media screen and (max-width: $screen-width-s) {
    @content;
  }
}
@mixin screen-size-m {
  @media screen and (max-width: $screen-width-m) {
    @content;
  }
}
