.Navi {
  margin: 2em 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  @include screen-size-xs {
    .Navi {
      &__toggle {
        display: inline-block;
      }
      &__list {
        display: block;
        &Mob {
          display: block;
          transition: all 300ms ease-out;
          overflow: hidden;
          max-height: 0;
        }
        &Link {
          margin: 0;
        }
        &Sub {
          position: relative;
          max-height: 150px;
          a {
            color: inherit;
            background-color: rgba($col-text, 0.1);
            text-decoration: none;
          }
        }
      }
      &__toggle {
        display: inline-block;
      }
    }
  }
  &__toggle {
    float: right;
    margin-top: 0.8em;
    display: none;
    .bar {
      width: 30px;
      transition: all 300ms ease-out;
      border-top: 1px solid $col-text;
      position: relative;
      display: block;
      width: 25px;
      margin-top: 8px;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    line-height: 2.5;
    list-style: none;
    display: flex;
    align-items: center;
    &Mob {
      display: flex;
    }
    &Sub {
      position: absolute;
      max-height: 0;
      font-size: 0.9em;
      font-family: 'Raleway', sans-serif;
      margin: 0;
      overflow: hidden;
      list-style: none;
      transition: all 300ms ease-out;
      li {
        margin: 0;
      }
      a {
       text-decoration: none;
       display: block;
       padding: 0 1em;
       line-height: 2.4;
       background-color: rgba($col-text, 0.1);
       transition: all 300ms ease-out;
       &:hover, &:focus {
          background-color: rgba($col-text, 0.2);
       }
      }
    }
    &Link {
      text-decoration: none;
      color: $col-text;
      margin-left: 2em;
      transition: all 150ms ease-in-out;
      &Dropdown {
        cursor: pointer;
        &:hover {
          .Navi__listSub {
            max-height: 200px;
          }
        }
      }
    }
  }
  &__logo {
    margin-right: auto;
  }
}

.Navi-open {
  @include screen-size-xs {
    .Navi{
      &__toggle {
        .bar {
          &:nth-child(1) {
            transform: rotate(45deg) translate(6px, 6px);
          }
          &:nth-child(2) {
            transform: translateX(10px);
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }
      &__listMob {
        max-height: 500px;
      }
    }
  }
}
