.Navi {
  margin: 2em 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    &Link {
      text-decoration: none;
      color: $col-text;
      margin-left: 2em;
    }
  }
  &__logo {
    margin-right: auto;
  }
}
