@import "./mixins.scss";

.Works {
  &__hero {
    @include LargeMarginTop;
    @include MeduimMarginBottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include screen-size-m {
      align-items: flex-end;
    }
    @include screen-size-s {
      grid-template-columns: 1fr;
      grid-gap: 1em;
      align-items: center;
    }
    &__txt {
      padding-right: 4em;
      ul {
        list-style: none;
        margin: 0.5em 0 0;
      }
      @include screen-size-s {
        padding-right: 0;
      }
    }
    &__img {
      width: 150%;
      @include screen-size-s {
        width: auto;
      }
      img {
        border-radius: 5px;
      }
    }
  }
  &__main {
    line-height: 1.8;
    > br {
      font-size: 400%;
      @include screen-size-s {
        font-size: 200%;
      }
    }
    &__img {
      @include screen-size-s {
        display: none;
      }
      img {
        margin: 0 -5%;
        max-width: 110%;
      }
    }
    ul {
      margin-top: -1.5em;
      li {
        margin: 0;
      }
    }
    blockquote {
      margin: -1.5em 0 0;
      color: $col-text-light;
      font-weight: 600;
    }
    code {
      font-family: inherit;
      background-color: rgba($col-blue, 0.1);
    }
    &__txt {
      padding: 0 4em;
      @include screen-size-s {
        padding: 0 1em;
      }
    }
  }
  &__grid__half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin: 1em 0;
    @include screen-size-s {
      grid-template-columns: 1fr;
      grid-gap: 1em;
    }
  }
  &__grid__third {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-top: 4em;
    align-items: center;
    @include screen-size-s {
      grid-template-columns: 1fr;
      margin-top: 2em;
      grid-gap: 1em;
    }
  }
  &__block {
    border: 1px solid $col-blue;
    margin: 4em auto;
  }
  &__modalImg {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 300ms ease-out;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: all 300ms ease-out;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background-size: 100% 200%;
      background-position: center top;
    }
    img {
      position: absolute;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
      filter: grayscale(100%);
    }
    p {
      position: absolute;
      bottom: 1em;
      left: 1em;
      right: 1em;
      margin: 0;
      font-weight: 700;
      color: $col-white;
      z-index: 2;
    }
    &:hover {
      &:after {
        background-position: center center;
      }
    }
  }

  &__exp {
    @include HugeMarginTop;
    @include HugeMarginBottom;
    &Card {
      @include LargeMarginBottom;
    }
    &Img {
      img {
        transition: all 300ms ease-out;
        border-radius: 5px;
        filter: brightness(0.97);
      }
      &:hover {
        img {
          border-radius: 5px;
          filter: brightness(1);
        }
      }
    }
  }
}

.videoContainer {
  max-width: 100%;
  background-color: #3a414e;
  padding: 5%;
  display: flex;
  justify-content: center;
  border-radius: 1px;

  &__videoElement {
    max-width: 94%;
    border-radius: 5px;
  }
}
